@import "../../common/core";

.col-8 {
  @include flexContainer(column, center);
  width: 75%;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  h1 {
    font-weight: 700;
  }
}

.skills {
  @include flexContainer(row, center);
  flex-flow: row;
  width: 75%;
  margin-top: 0.5em;
  transition: 00.2s;
}

.round-image {
  margin-top: -3.5em;
  z-index: 5;
  width: 25em;
  height: 25em;
  border-radius: 12.5em;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("./profile_pic.jpg");
}

.pills {
  @include flexContainer(row, center);
  width: 100px;
  font-weight: 700;
  color: white;
  border-radius: 38px;
  padding: 5px;
  font-size: small;
  margin-right: 4px;
  background-color: rgba(255, 0, 0, 0.644);
  cursor: pointer;
}

.col-4 {
  @include flexContainer(column, center);
  .info {
    h4 {
      margin-top: 1em;
      font-weight: 500;
      font-size: large;
      color: white;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .col-8 {
    @include flexContainer(column, center);
    margin-top: -2.5em;
    width: 75%;
    height: 80%;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    h1 {
      font-weight: 700;
      font-size: medium;
    }
    h3 {
      font-size: small;
    }
  }
  .round-image {
    margin-top: -3.5em;
    width: 5em;
    height: 5em;
    border-radius: 12.5em;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("./profile_pic.jpg");
  }
  .skills {
    @include flexContainer(row, center);
    width: 200px;
    flex-flow: row;
    overflow: scroll;
    margin-top: 0.5em;
    transition: 00.2s;
  }
  .col-4 {
    @include flexContainer(column, center);
    .info {
        h2{
            font-size: large;
            font-weight: 700;
        }
      h4 {
        margin-top: 1em;
        font-weight: 500;
        font-size: small;
        color: white;
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}
